[submodule "cJSON"]
	path = cJSON
	url = https://github.com/DaveGamble/cJSON.git
	branch = d348621ca93571343a56862df7de4ff3bc9b5667
[submodule "mongoose"]
	path = mongoose
	url = https://github.com/cesanta/mongoose.git
