/*.elf
/*.hex
/*.lst
/*.map
/cmsis/
/CMSIS/
/nrfx/
*.bin

/recovery-bootloader.c
/flash/recovery-bootloader.c
/flash/recovery-bootloader.elf
/flash/recovery-bootloader.hex
/flash/recovery-bootloader.lst
/flash/recovery-bootloader.map
/first/CMSIS*/**
/first/nrfx/**
/first/first-bootloader.*
